opencv-python==4.5.5.64
Cython==0.29.24
numba==0.52.0
progress==1.6
matplotlib==3.4.3
easydict==1.10
scipy==1.6.3
pycocotools==2.0.6
yacs==0.1.8
pthflops==0.4.2
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr.git
pycls==0.1.1
